* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 90%;
    max-width: 800px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .products, .cart {
    margin-bottom: 20px;
  }
  
  .product-item, .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .product-item button {
    background-color: #6d4d26;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .product-item button:hover {
    background-color:#6d4d26;
  }
  
  .cart-item button {
    background-color: #166548;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cart-item button:hover {
    background-color: #166548;
  }
  
  #cart-total {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
  }
  